.story-container {
    height: 500px;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.scene-selections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px;
}

.story-container button {
    display: flex;
    padding: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    text-transform: none;
    text-align: left;
    height: 100px;
}

.story-container button:hover {
    background-color: transparent;
    color: #ce794c;
}